[submodule "alignment/students_headpose"]
	path = alignment/students_headpose
	url = https://github.com/SaulN99/students_headpose

[submodule "detection/ssd16_detection"]
	path = detection/ssd16_detection
	url = https://github.com/pcr-upm/ssd16_detection
